@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  transition: all 0.35s ease-out;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html.dark {
  background-color: rgb(29, 27, 27);
  color: rgb(244, 243, 243);
}

html.light {
  background-color: rgb(244, 243, 243);
  color: rgb(29, 27, 27);
}

body {
  padding: 1rem;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror-focused {
  outline: none;
  border: none;
}

.root-element {
  margin-top: 40px;
  max-width: 40rem;
  margin: 40px auto;
  line-height: 1.4;
}

.root-element > .ProseMirror {
  min-height: 40vh;
}

@media (max-width: 768px) {
  .root-element {
    max-width: calc(100% - 96px);
  }
}

@media (max-width: 480px) {
  .root-element {
    max-width: calc(100% - 48px);
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
